In [1]:
import numpy as np
import pandas as pd

In [4]:
teams=pd.read_excel("teams.xlsx")

In [5]:
teams.set_index("num").sort_values("points",ascending=False).head(10)

,name,points,exercises_done,Members
num,,,,
3,Team Science t-ish,13,NaN,Edgar;Paula;Javier Eduardo
1,Sabreport_challenge,0,NaN,Carlos;Igor;Jorge;Lorenzo
2,JATA,0,NaN,Alberto; Andrés;Tiago;Javier Castaño

In [6]:
teams["name"].str.strip().str.upper()

0    SABREPORT_CHALLENGE
1                   JATA
2     TEAM SCIENCE T-ISH
Name: name, dtype: object